node_modules/
.husky/
.vscode/
**/.log/
**/dist/
dao3.config.json
GameAPI.d.ts
ClientAPI.d.ts
tsconfig.json
package.json
package-lock.json
yarn.lock
bun.lock
pnpm-lock.yaml
.prettierrc
.prettierignore
.lintstagedrc
.gitignore